.user{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

.user__image__pic{
    height: 130px;
    width: 130px;
}
.user__details{
    text-align: center;
}
.user__name{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user__delete{
    text-align: center;
}